<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class="gif" src="https://i1.wp.com/i.huffpost.com/gadgets/slideshows/335285/slide_335285_3374461_free.gif?w=696"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="home">Homer <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="crearusuario">Crear usuario</a>
        <a class="nav-item nav-link" routerLink="leerusuarios">Ver usuarios</a>
      </div>
    </div>
</nav>